@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color-start: rgb(239, 244, 245);
  --background-color-end: rgb(255, 255, 255);
  --popup-background-color: #fff;
  --header-background-color: #fff;

  --shadow-color-start: rgba(0, 0, 0, 0.1);
  --shadow-color-end: rgba(0, 0, 0, 0.6);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color-start: #141414;
    --background-color-end: #000000;
    --popup-background-color: #000;
    --header-background-color: #050505;

    --shadow-color-start: rgba(255, 255, 255, 0.1);
    --shadow-color-end: rgba(255, 255, 255, 0.6);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          var(--background-color-end)
  )
  var(--background-color-start);
}
